div(layout='row')
	div(layout='column' flex)
		slider-der(flex min= '2' max='20' step='1' label='cycle' my-data='vm.cycle')
		slider-der(flex min= '0' max='(vm.cycle/2)' step='.1' label='delta' my-data='vm.delta')
		slider-der(flex min= '1' max='10' step='.5' label='distance d' my-data='vm.d')
		slider-der(flex min= '0' max='.99' step='.01' label='red' my-data='vm.red')
		slider-der(flex min= '.2' max='10' step='.05' label='v_f' my-data='vm.vf')
		slider-der(flex min= '.2' max='(vm.vf/2)' step='.05' label='w' my-data='vm.w')
		slider-der(flex min= '.2' max='10'  step='.05' label='q+0' my-data='vm.q0')

mfd-chart(data='vm.mfd')
